<nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark navbar-andes fixed-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="<%= root_path(anchor: "inicio") %>">
      <i class="bi bi-mountains me-2 brand-icon"></i>
      <span>Andes Academy</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-3">
        <li class="nav-item">
          <a class="nav-link" href="<%= root_path(anchor: "inicio") %>"><%= t('website.nav.home') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= root_path(anchor: "sobre") %>"><%= t('website.nav.about') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= root_path(anchor: "cursos") %>"><%= t('website.nav.courses') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= trial_classes_path %>"><%= t('website.nav.trial_classes') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= root_path(anchor: "contacto") %>"><%= t('website.nav.contact') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_applicant_path %>"><%= t('website.work_with_us.nav_link') %></a>
        </li>
      </ul>

      <div class="dropdown ms-auto">
        <button class="btn btn-sm btn-outline-light dropdown-toggle" type="button"
                data-bs-toggle="dropdown" aria-expanded="false"
                aria-label="<%= t('website.accessibility.select_language') %>">
          <i class="bi bi-translate me-1"></i>
          <%= I18n.locale.to_s.upcase %>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <% I18n.available_locales.each do |loc| %>
            <li>
              <%= link_to loc.to_s.upcase, url_for(locale: loc),
                    class: "dropdown-item #{'active' if I18n.locale == loc}" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
